.block
	display: flex
	// remove this

h1
	color: white
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	font-family: sans-serif
	font-size: 200px
	letter-spacing: 20px
	user-select: none
	pointer-events: none
	mix-blend-mode: exclusion
